name: Post model.json to Discord

on:
  #schedule:                 # cron使う時にコメント外す
  #  - cron: "10 16 * * *"   # UTC 00:00 = JST 09:00
  workflow_dispatch: {}   # 手動実行ボタン
  # push:                 # push時に動かすならコメント外す
  #   branches: [ "main" ]

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests

      - name: Post to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python main.py
